<div class="center hero-unit">
<h1>FINALDO - wiesz ile masz :)</h1>
	<p>
		Póki co odwiedź naszego
		<%= link_to  "bloga", "http://blog.finaldo.pl", target: "_blank" %>
	</p>
	<p>
		<a href="#">Zarejestruj sie !</a>
	</p>
</div>
