
    <h1>Moje instrumenty finansowe</h1>

    <table class="table table-striped">
        <thead>
            <tr>
			    <th>Nazwa</th>
			    <th>Skrót</th>
			    <th>Ilość</th>
			    <th>Wartość</th>
			    <th>Data zakupu</th>
			    <th>Typ</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        	
        </tbody>
    </table>
<%= link_to 'Nowy instrument finansowy', new_instrument_path %>
<br />


